body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #f4f4f4;
    }

    .menu {
      background-color: #d9d9d9;
      padding: 15px 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }

    .menu button {
      background-color: #58a9ff;
      color: white;
      border: none;
      padding: 12px 16px;
      border-radius: 12px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.2s;
    }

    .menu button:hover {
      background-color: #2d88ff;
    }

    .menu .ativo {
      background-color: #2d88ff;
    }

    .btn-new-product {
      background-color: #58a9ff;
      color: white;
      border: none;
      padding: 12px 16px;
      border-radius: 12px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.2s;
    }

    .btn-new-product:hover {
      background-color: #2d88ff;
    }

    main {
      max-width: 75%;
      margin: 30px auto;
      padding: 0 20px;
    }

    .topo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .topo h2 {
      margin: 0;
    }

    .novo-produto {
      background-color: #1a73e8;
      color: white;
      padding: 8px 14px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
    }

    .filtros {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }

    .filtros input,
    .filtros select {
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
      min-width: 200px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background-color: white;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }

    thead {
      background-color: #58a9ff;
      color: white;
    }

    th, td {
     /* justify-content: space-between; */
      padding: 12px;
      text-align: center;
      font-size: 14px;
    }

    tbody tr {
      border-bottom: 1px solid #eee;
    }

    .actions {
      text-align: center;
      white-space: nowrap;
    }

    .actions button {
      display: inline-block;
      margin: 0 4px;
      padding: 4px 8px;
      font-size: 16px;
      cursor: pointer;
    }

/* Box de confirmação para deletar o produto */

#confirm-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#confirm-box.hidden {
  display: none;
}

.confirm-content {
  background-color: rgb(255, 255, 255);
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: sans-serif;
}

.confirm-buttons {
  margin-top: 16px;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.confirm-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#confirm-yes {
  background-color: #28a745;
  color: white;
}

#confirm-no {
  background-color: #dc3545;
  color: white;
}

/* Caixa para mensagens de sucesso, erro etc.*/
#message-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
}

#message-box.hidden {
  display: none;
}

.message-content {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 300px;
  font-family: sans-serif;
}

#message-text {
  font-size: 1rem;
  margin-bottom: 16px;
}

#message-close {
  margin-top: 16px;
  padding: 8px 16px;
  border: none;
  background-color: #0077ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Box para edição de informações do produto. */
#edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#edit-modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 25%;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.modal-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

#edit-form {
  display: flex;
  flex-direction: column;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  min-height: 50px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 4px;
  margin-left: 2px;
}

.form-group input, 
.form-group select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}


/* Deixa "apagado" os campos que não são editáveis na edição do produto (id, data de cadastro e atualização). */
input[readonly] {
  background-color: #f5f5f5;
  color: #555;
  cursor: not-allowed;
}

/* Box para cadastro de novo produto. */
#new-product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#new-product-modal.hidden {
  display: none;
}

#new-product-form {
  display: flex;
  flex-direction: column;
}